---
layout: handbook-page-toc
title: "Revenue Marketing"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Other Pages Related to Revenue Marketing

- [Business Operations](/handbook/business-ops)
     - [Resources](/handbook/business-ops/resources/)
- [Reseller Handbook](/handbook/resellers/)

## What is Revenue Marketing Handbook

The Revenue Marketing department includes the Sales Development, Field Marketing and Digital Marketing Programs (including Online Marketing & Marketing Program Management). The units in this functional group employ a variety of marketing and sales crafts in service of our current and future customers with the belief that providing our audiences value will in turn grow GitLab's business.

## Revenue Marketing Handbooks

- [Sales Development](/handbook/marketing/revenue-marketing/sdr/)
- [Field Marketing](/handbook/marketing/revenue-marketing/field-marketing/)
- [Account Based Marketing](/handbook/marketing/revenue-marketing/account-based-marketing/)
- [Digital Marketing Management](/handbook/marketing/revenue-marketing/digital-marketing-programs/digital-marketing-management/)
- [Marketing Programs Management](/handbook/marketing/revenue-marketing/digital-marketing-programs/marketing-programs/)

## Revenue Marketing KPI Definitions 
- Many of these can be found on the [Marketing Metric Dashboard](https://app.periscopedata.com/app/gitlab/431555/Marketing-Metrics)

- **Total # of MQLs by month**: Total number of [Marketo Qualified Leads](/handbook/business-ops/resources/#sts=MQL%20Definition) per month
<embed width="100%" height="100%" src="<%= signed_periscope_url(chart: 6592066, dashboard: 431555, embed: 'v2') %>">

- **Net New Business Pipeline Created ($s)**: The combined IACV of the net "New Business" opportunities
<embed width="100%" height="100%" src="<%= signed_periscope_url(chart: 6592070, dashboard: 431555, embed: 'v2') %>">

- **Lead follow-up response time**: The amount of time (Days, hours, minutes) it takes for a Lead/Contact to move from MQL to another status - this indicates how long it took for a sales rep/xDR to respond to the record becoming a MQL.
- **Opportunities per XDR per month created**: The net number of unique opportunities that are created and have a "sales development representative" assigned/attached to the opportunity segmented by xDR and by month. 
<embed width="100%" height="100%" src="<%= signed_periscope_url(chart: 6222245, dashboard: 431555, embed: 'v2') %>">

- **Pipe-to-spend per marketing activity**: Pipeline (IACV on Opportunities) divided by the total marketing program spend, broken down by marketing activity. 
- **Marketing Efficiency Ratio**: Marketing efficiency for a given month is calculated as the ratio of IACV from closed won opportunities for the current month and the 2 preceding months vs the Marketing Operating Expenses (IACV / Marketing Operating Expenses) for the same time period. GitLab's target is greater than 2.
